body {
  background-color: #636e72;
}

.js-title {
  color: #e84393;
  text-shadow: -1px 0 #000,
	       0 1px #000,
	       1px 0 #000,
	       0 -1px #000;

  font-size: 10em;
}

.js-weather {
  text-shadow: -1px 0 #000,
	       0 1px #000,
	       1px 0 #000,
	       0 -1px #000;

  font-style: italic;
}

.test {
  color: #fd79a8;
  text-shadow: -1px 0 #000,
	       0 1px #000,
	       1px 0 #000,
	       0 -1px #000;

  font-size: 2em;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.centerBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.displayNone {
  display: none;
}

.bgImg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
  opacity: 1;
  }
}
